/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fef1f8;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --main-text-color: #353430;
  --decor-color: #353430;
  --menu-color: #353430;
  --title-color: #ffc2e6;
  --switch-dark-theme: transparent;
  --switch-light-theme: #353430;
  --switch-auto-theme: transparent;
  --hover-dark-theme: rgba(53, 52, 48, 0.4);
  --hover-light-theme: #353430;
  --hover-auto-theme: rgba(53, 52, 48, 0.4);
}
.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fef1f8;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --main-text-color: #353430;
    --decor-color: #353430;
    --menu-color: #353430;
    --title-color: #ffc2e6;
    --switch-dark-theme: transparent;
    --switch-light-theme: transparent;
    --switch-auto-theme: #353430;
    --hover-dark-theme: rgba(53, 52, 48, 0.4);
    --hover-light-theme: rgba(53, 52, 48, 0.4);
    --hover-auto-theme: #353430;
  }

  .rec {
    display: none;
  }
}
