/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --background-image: url(/images/cover-image-light.png);
    --background-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --main-text-color: #353430;
    --decor-color: #353430;
    --menu-color: #353430;
    --title-color: #FFC2E6;
    --menu-color-transparent: rgba(53, 52, 48, 0.4);}
    .theme-light .rec {display: none;}
    .theme-light .content__list-title {color: var(--menu-color)}
    .theme-light .header__theme-menu-button_type_light {
      outline: 1px solid var(--menu-color)
    }
    .theme-light .header__theme-menu-button_type_auto {
    outline: none;
    }
    .theme-light .header__theme-menu-button:hover {
      outline: 1px solid var(--menu-color-transparent);
    }
    .theme-light .header__theme-menu-button_type_light:hover {
      outline: 1px solid var(--menu-color)
    }
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */


@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(/images/cover-image-light.png);
    --background-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --main-text-color: #353430;
    --decor-color: #353430;
    --menu-color: #353430;
    --title-color: #FFC2E6;
    --menu-color-transparent: rgba(53, 52, 48, 0.4);}

    .rec {display: none;}
    .header__theme-menu-button:hover {
      outline: 1px solid var(--menu-color-transparent);
    }
    .header__theme-menu-button_type_auto {
      outline: 1px solid var(--menu-color);
    }
    .header__theme-menu-button_type_auto:hover {
      outline: 1px solid var(--menu-color);
    }
  }

