/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: 26px 98px 219px 136px;
  gap: 37px;
  margin-block-end: 40px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
  border: 0.1px solid transparent;
  padding: 10px;
}

.decorated-zone:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  background-color: transparent;
  inline-size: 25px;
  block-size: 25px;
}

.rec {
  display: flex;
  justify-items: end;
  grid-column: 2;
  grid-row: 1;
  justify-content: end;
  padding-inline-end: 9px;
}

.rec__text {
  align-self: center;
  padding-inline-end: 10px;
  color: var(--accent-color);
  line-height: 25px;
  text-transform: uppercase;
}

.rec__form {
  position: relative;
  z-index: 1;
  align-self: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.rec__blur {
  position: absolute;
  right: 17px;
  z-index: -1;
  align-self: center;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: blur(3px);
  inline-size: 12px;
  block-size: 12px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 2;
}

.header__theme-menu-list {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  align-items: center;
  border: none;
  color: var(--menu-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 100%;
  block-size: 26px;
}

.header__theme-menu-button_type_auto {
  outline: 1px solid var(--menu-color);
}

.header__theme-menu-button_type_light:hover {
  outline: 1px solid var(--menu-color-transparent);
}

.header__theme-menu-button_type_dark:hover {
  outline: 1px solid var(--menu-color-transparent);
}

.header__theme-menu-button:focus-visible {
  margin-top: 1px;
  border-block-end: 1px solid var(--menu-color);
  outline: none;
}

.header__theme-menu-button_type_dark:focus-visible {
  border-block-end: 1px solid var(--menu-color);
  outline: none;
}

.header__title {
  grid-column: span 2;
  grid-row: 3;
  align-self: end;
  color: var(--title-color);
  font-weight: var(--text-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.8;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  grid-column: span 2;
  grid-row: 4;
  justify-self: end;
  align-self: end;
  color: var(--main-text-color);
  font-weight: var(--text-bold);
  block-size: fit-content;
}

.title-decor {
  background-color: var(--accent-color);
}

.content {
  padding: 0px 10px 50px 10px;
  inline-size: 100%;
}

.content__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.content__list-title {
  color: var(--menu-color);
  font-weight: var(--text-bold);
  font-size: var(--text-size);
  line-height: 23.4px;
}

.content__list-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.content__list-cards-item {
  display: grid;
  gap: 10px;
}

.content__list-cards-item-title {
  color: var(--main-text-color);
  font-weight: var(--text-bold);
  font-size: var(--text-size);
  line-height: 23.4px;
}

.content__list-cards-item-text {
  display: inline;
  color: var(--text-color);
  line-height: 23.4px;
}

.content__list-cards-item-text-accent {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a.content__list-cards-item-text-accent:hover {
  border-bottom: 1px solid var(--text-color);
}

a.content__list-cards-item-text-accent:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__list-cards-item-subtitle {
  font-weight: var(--text-regular);
}

.content-section__list-advices {
  display: grid;
  gap: 20px;
}

.content__pictures {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px repeat(5, auto);
  gap: 10px;
  margin: 0px 10px 40px 10px;
}

.content__list-pictures {
  inline-size: 100%;
  block-size: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  font-weight: var(--text-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 #ff0070;
}

@media (width >= 768px) {
  .decorated-zone {
    padding: 20px 20px 20px 0px;
  }

  .decorated-zone:before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone:after {
    top: 20px;
    right: 20px;
  }
  .header {
    grid-template-columns: 1fr 294px 70px;
    grid-template-rows: 26px 98px 126px 133px;
    row-gap: 146px;
    column-gap: 0px;
    margin-block-end: 60px;
    min-block-size: 1024px;
  }

  .rec {
    grid-column: 3;
  }
  .rec__blur {
    right: 27px;
  }
  .header__theme-menu {
    grid-column: 3;
  }

  .header__title {
    grid-column: span 3;
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 2 / 4;
    block-size: 117px;
  }

  .content {
    padding: 0px 20px 80px 20px;
    inline-size: 100%;
  }

  .content__list.why {
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: 0px;
  }

  .content__list.causes {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 70px 1fr;
  }
  .content__list-cards.causes {
    grid-template-rows: 23px fit-content;
    grid-column: span 2;
    row-gap: 20px;
  }

  .content__list.concentrations {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 23px 1fr;
  }

  .content__list-cards.concentrations {
    grid-column: 2;
  }

  .content__pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 23px 192px 230px 1fr;
    gap: 20px;
    margin: 0px 20px 60px 20px;
  }

  h3.pictures {
    grid-column: span 3;
    grid-row: 1;
  }

  .content__list-pictures {
    object-fit: cover;
    block-size: 100%;
  }

  img.zakat {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  img.icecream {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  img.tape {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  img.street {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  img.books {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer.decorated-zone {
    padding: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr calc(230px / 2) calc(230px / 2) 1fr;
    grid-template-rows: 26px 289px 71px;
    row-gap: 114px;
    margin-block-end: 60px;
    block-size: 100vh;
    min-block-size: 768px;
  }

  .decorated-zone {
    padding: 20px;
  }

  .decorated-zone:before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone:after {
    top: 20px;
    right: 20px;
  }

  .rec {
    grid-column: 4;
    grid-row: 1;
  }

  .rec__blur {
    right: 27px;
  }

  .header__theme-menu {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .header__title {
    grid-column: span 4;
    grid-row: 2;
    align-self: end;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 3 / 5;
    grid-row: 3;
    justify-self: end;
    block-size: fit-content;
  }

  .content {
    padding: 0px 20px 80px 20px;
  }

  .content__list.why {
    grid-template-columns: 315px 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: 0px;
  }

  .content__list.causes {
    grid-template-columns: 315px 1fr;
    grid-template-rows: 47px 1fr;
    gap: 20px;
  }

  .content__list-title.causes {
    inline-size: 100%;
  }

  .content__list-cards.causes {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0px;
  }

  .content__list-cards-item.causes {
    grid-template-rows: 23px 1fr;
  }

  .content__list.concentrations {
    grid-template-columns: 315px 1fr;
  }

  .content__pictures {
    grid-template-rows: 23px 260px 315px 1fr;
    gap: 20px;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
