/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-template-rows: 26px 98px 219px 136px;
  color: white;
  gap: 37px;
  margin-block-end: 40px;
}

.decorated-zone {
  padding: 10px;
  position: relative;
  border: 0.1px solid transparent;
}

.decorated-zone:before {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  position: absolute;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  bottom: 10px; 
  left: 10px;
}

.decorated-zone:after {
  content: "";
  display: block;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  position: absolute;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.rec {
  grid-column: 2;
  grid-row: 1;
  padding-inline-end: 9px;
  justify-items: end;
  display: flex;
  justify-content: end;
}

.rec__text {
  text-transform: uppercase;
  padding-inline-end: 10px;
  color: var(--accent-color);
  line-height: 25px;
  align-self: center;
}

.rec__form {
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  align-self: center;
  position: relative;
  z-index: 1;
}

.rec__blur {
  inline-size: 12px;
  block-size: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
  align-self: center;
  filter: blur(3px);
  position: absolute;
  z-index: -1;
  right: 17px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 2;
}

.header__theme-menu-list {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  inline-size: 100%;
  block-size: 26px;
  border: none;
  color: var(--accent-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  align-items: center;
}

.header__theme-menu-button_type_dark {
  outline: 1px solid var(--accent-color);
}

.header__title {
  grid-column: span 2;
  grid-row: 3;
  font-weight: var(--text-bold);
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.8;
  align-self: end;
}

.header__description {
  grid-column: span 2;
  grid-row: 4;
  align-self: end;
  font-weight: var(--text-bold);
  color: var(--main-text-color);
  block-size: fit-content;
}

.title-decor {
  background-color: var(--accent-color);
}

/* секция*/

.content {
  inline-size: 100%;
  padding: 0px 10px 50px 10px;
}

.content__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.content__list-title{
  color: var(--accent-color);
  font-weight: var(--text-bold);
  line-height: 23.4px;
  font-size: var(--text-size);
}

.content__list-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
}

.content__list-cards-item {
  display: grid;
  gap: 10px;
}

.content__list-cards-item-title {
  color: var(--main-text-color);
}

.content__list-cards-item-text {
  color: var(--text-color);
  line-height: 23.4px;
  display: inline; 
}

.content__list-cards-item-text-accent {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

a.content__list-cards-item-text-accent:hover {
  text-decoration: underline;
  color: var(--text-color);
}

a.content__list-cards-item-text-accent:focus-visible {
  outline: var(--text-color) solid 1px;
}

.content__list-cards-item-subtitle {
  font-weight: var(--text-regular);
}

.content-section__list-advices {
  display: grid;
  gap: 20px;
}

.content__pictures {
  margin: 0px 10px 40px 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 24px repeat(5, auto);
  gap: 10px;
}

.content__list-pictures {
  inline-size: 100%;
  block-size: auto;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.footer__title {
  grid-column: 1;
  grid-row: 1;
  font-weight: var(--text-bold);
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.83;
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  
  .decorated-zone {
  padding: 20px 20px 20px 0px;
  }

  .decorated-zone:before {
  bottom: 20px;
  left: 20px;
}

.decorated-zone:after {
  top: 20px;
  right: 20px;
}
 .header {
  min-block-size: 1024px;
  grid-template-columns: 1fr 294px 70px;
  grid-template-rows: 26px 98px 126px 133px;
  row-gap: 146px;
  column-gap: 0px;
  margin-block-end: 60px;
}

.rec {
  grid-column: 3;
}
.rec__blur {
  right: 27px;
}
.header__theme-menu {
  grid-column: 3;
}

.header__title {
  grid-column: span 3;
  justify-self: start;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.header__description {
  grid-column: 2 / 4;
  block-size: 117px;
}

.content {
  inline-size: 100%;
  padding: 0px 20px 80px 20px;
}

.content__list.why {
  grid-template-columns: 236px 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 0px;
}

.content__list.causes {
  grid-template-columns: 236px 1fr;
  grid-template-rows: 70px 1fr;

}
.content__list-cards.causes {
  grid-column: span 2;
  grid-template-rows: 23px fit-content;
  row-gap: 20px;
}

.content__list.concentrations {
  grid-template-columns: 236px 1fr;
  grid-template-rows: 23px 1fr;
}

.content__list-cards.concentrations {
  grid-column: 2;
}

.content__pictures {
  margin: 0px 20px 60px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 23px 192px 230px 1fr;
  gap: 20px;
}

h3.pictures {
  grid-column: span 3;
  grid-row: 1;
}

.content__list-pictures {
  object-fit: cover;
  block-size: 100%;
  }

img.zakat {
  grid-column: 1 / 3;
  grid-row: 2;
}

img.icecream {
  grid-row: 2 / 4;
  grid-column: 3;
}

img.tape {
  grid-row: 3 / 5;
  grid-column: 1;
}

img.street {
  grid-row: 4;
  grid-column: 2 / 4;
}

img.books {
  grid-row: 3;
  grid-column: 2 / 3;
}

.footer {
  min-block-size: 1024px;
}

.footer.decorated-zone {
  padding: 20px;
}
}

@media (width >= 1024px) {
  .header {
  block-size: 100vh;
  min-block-size: 768px;
  grid-template-columns: 1fr calc(230px/2) calc(230px/2) 1fr;
  grid-template-rows: 26px 289px 71px;
  row-gap: 114px;
  margin-block-end: 60px;
}

.decorated-zone {
  padding: 20px;
}

.decorated-zone:before {
  bottom: 20px; 
  left: 20px;
}

.decorated-zone:after {
  top: 20px;
  right: 20px;
}

.rec {
  grid-column: 4;
  grid-row: 1;
}

.rec__blur {
  right: 27px;
}

.header__theme-menu {
  grid-column: 2 / 4;
  grid-row: 1;
}

.header__theme-menu-list {
  display: flex;
}

.header__title {
  grid-column: span 4;
  grid-row: 2;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  align-self: end;
  margin-inline-start: -20px;
}

.header__description {
  grid-column: 3 / 5;
  grid-row: 3;
  block-size: fit-content;
  justify-self: end;
}

.content {
  padding: 0px 20px 80px 20px;
}

.content__list.why {
  grid-template-columns: 315px 1fr;
  grid-template-rows: repeat(2, min-content);
  row-gap: 0px;
}

.content__list.causes {
  grid-template-columns: 315px;
  grid-template-rows: 47px 1fr;
  gap: 20px;
}

.content__list-title.causes {
  inline-size: 100%;
}

.content__list-cards.causes {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0px;
}

.content__list-cards-item.causes {
  grid-template-rows: 23px 1fr;
}

.content__list.concentrations {
  grid-template-columns: 315px 1fr;
}

.content__pictures {
  grid-template-rows: 23px 260px 315px 1fr;
  gap: 20px;
}

.footer {
   min-block-size: 768px;
}

.footer__title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

}