:root {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --main-text-color: #000028;
  --decor-color: #ff0070;
  --menu-color: #ff0070;
  --title-color: #db00ff;
  --switch-dark-theme: #ff0070;
  --switch-light-theme: transparent;
  --switch-auto-theme: transparent;
  --hover-dark-theme: #ff0070;
  --hover-light-theme: rgba(255, 0, 112, 0.4);
  --hover-auto-theme: rgba(255, 0, 112, 0.4)0;
  --text-size: 18px;
  --text-bold: 700;
  --text-regular: 400;
}

/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
