:root {
    --main-color: #000;
    --background-image: url(/images/cover-image-dark.png);
    --background-color: #00002F;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --main-text-color: #000028;
}


/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
